@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@font-face {
  font-family: 'Carousel';
  src: url('../fonts/Carousel.ttf');
}

body{
  margin: 0;  
}
canvas {
  border-style: inset;
  border-width: 0 20px 0 20px; 
  border-color: goldenrod;
  margin: 0 auto;
  width: auto; 
  background-image: url('../images/brown_background.jpg');
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../images/wood.svg')
}