@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

body{
  margin: 0;  
}
canvas {
  border-style: inset;
  border-width: 0 20px 0 20px; 
  border-color: goldenrod;
  margin: 0 auto;
  width: auto; 
  background-color: #1a0d00;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../images/wood.svg')
}